{% extends "polls/ticket_base.html" %}
{% block title %}Ареопаг — голосование{% endblock %}
{% block body %}
<style>
    ul {padding:1.5em 1em 0.5em 1.5em}
    .ticket{max-width: 40rem;}
    li{margin-bottom: 1.5em;}
</style>
<script>
    function vote(poll_id, form) {
        if (!form.key.value)
            return alert("Нет значения");
        key = form.key.value.match(/\d+/g).join('')
        if (key.length < 6)
            return alert("Ожидается 6 значений");
        document.location.assign('/vote/poll_' + poll_id  + '/' + key)
    }
</script>
<article class="ticket">
    <header class="ticket__wrapper">
    </header>
      <header class="ticket__wrapper">
      <div class="ticket__header">
        <div class="ticket__title">
            Ареопаг — тайное голосование
        </div>
      </div>
    </header>
    <div class="ticket__body">
      <section class="ticket__section">
        {% if active_polls %}
        <p><span style="color:darkred">Активные голосования:</span></p>
        <ul>
            {% for poll in active_polls %}
            <li>
                <div style="margin-bottom: 0.5em;">Соискатель: <b>{{ poll.title }}</b></div>
                <form autocomplete="off">
                <label for="key">
                    Бюллетень №:
                    <input type="text" name="key" maxlength="10" id="key" title="Бюллетень №" style="width: 5rem" />
                </label>
                <button type="button" onclick="vote({{ poll.id }}, this.form)">Голосовать</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p><span style="color:darkred">Нет активных голосований</span></p>
        {% endif %}
      </section>
      <section class="ticket__section" style="width: 400px;">
        <h3>Инструкции</h3>
        <ul>
          <li><a href="/static/pdf/Инструкция для удаленно голосующего члена диссертационного совета.pdf">Инструкция для <b>удаленно</b> голосующего члена диссертационного совета</a></li>
          <li><a href="/static/pdf/Инструкция для тайного голосования очно участвующего в заседании члена диссертационного совета.pdf">Инструкция для тайного голосования <b>очно</b> участвующего в заседании члена диссертационного совета</a></li>
          <li><a href="/static/pdf/Инструкция для ученого секретаря диссертационного совета по проведению процедуры тайного голосования.pdf">Инструкция для <b>ученого секретаря</b> диссертационного совета по проведению процедуры тайного голосования</a></li>
        </ul>
      </section>
    </div>
    <footer class="ticket__footer">
      <svg width="70%" height="100%" version="1.1" viewBox="0 0 101.3 24.79" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(-17.5 -109.1)">
         <path d="m115.7 120.6-8.603 8.944-0.0643-19.81-2.486-0.4728-6.395 17.07-0.05385-16.59-2.087-0.6143-9.545 15.6-0.03398-10.51-1.766-0.6898-10.84 12.42-0.03803-11.73-1.577-0.6157-11.03 12.63-0.03902-12.02-1.387-0.5419-11.22 12.85-0.03996-12.31-1.272-0.3666-9.958 16.68-0.06757-20.78-1.052-0.1846-7.024 20.45-0.06564-20.26-0.673-0.2682-10.92 12.18 1.112 0.2238 9.702-11.13-0.07143 22 0.8983 0.1575 7-19.95-0.06429 19.8 1.142 0.329 9.932-16.39-0.03823 11.78 1.279 0.4996 11.19-12.65-0.03939 12.15 1.468 0.5734 11-12.43-0.03842 11.86 1.657 0.6475 10.81-12.22-0.03743 11.57 1.955 0.5753 9.509-15.31-0.06235 19.2 2.33 0.4431 6.345-16.6-0.0523 16.16 2.33 0.9765 8.029-8.238 4.004-4.107z" fill="#231f20"/>
        </g>
       </svg>
       <div style="padding:3em 0;font-size:small;color:#888">Версия: {{ settings.VERSION_UUID }}</div>
    </footer>
  </article>
{% endblock %}
